black==25.12.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
docstring_parser==0.17.0
ffmpeg-python==0.2.0
future==1.0.0
idna==3.11
lxml==6.0.2
mypy_extensions==1.1.0
networkx==3.6.1
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pathspec==1.0.3
pillow
platformdirs==4.5.1
pyperclip==1.11.0
pytokens==0.3.0
requests==2.32.5
sapien==3.0.2
tqdm==4.67.1
transforms3d==0.4.2
typeguard==4.4.4
typing_extensions==4.15.0
tyro==1.0.4
urllib3==2.6.3
yourdfpy
